/* Importing a Google Font */

  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

/* Changing the main font and background colour */

.everything {
	font-family: 'Cormorant Garamond', serif;
	color: #1d3557; 

	background: rgb(69,123,157);
background: linear-gradient(0deg, rgba(69,123,157,1) 0%, rgba(250,243,238,1) 100%);
}
	

/* Changing the background colour for the header */

header {
	background-color: #457b9d;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #E8E7E5;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	background-color: #faf3ee;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

.visionbackground{
	background-color: #457B9D;
}
.bi {
        vertical-align: -.125em;
        fill: currentColor;
      }
footer{
	background: rgb(69,123,157);
	font-family: 'Cormorant Garamond', serif;
	color: #1d3557; 
}